<h1>Hello, <%= @user.username %></h1>


<h1>All Your Subs</h1>

<ul>
    <% @user.subs.each do |sub| %>
        <li>
            <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
        </li>
           
        <li>
            <%= sub.description %>
        </li>
    <% end %>
</ul>

<button><a href="<%= new_sub_url %>">Create New Sub</a></button>

